<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://code.alibabatech.com/schema/dubbo
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 定义本次Dubbo服务的提供者的应用程序名称 -->
	<dubbo:application name="${dubbo.application.name}" version="${dubbo.interface.version}"/>
	<!--定义扫描配置路径-->
	<dubbo:annotation package="testdubbo.consumer.test"/>
	<!-- 在进行Dubbo服务注册的时候一定要将服务注册到ZooKeeper之中 -->
	<dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" timeout="${dubbo.provider.timeout}"/>
	<!-- 通过注册中心去引入远程接口实现类,loadbalance配置集群环境下负载均衡机制，cluster配置失败切换-->
	<!--<dubbo:reference id="messageInstance"-->
		<!--interface="testdubbo.service.IMessageService" version="${dubbo.interface.version}" loadbalance="consistenthash" cluster="forking" mock="return null" check="false"-->
	<!--/>-->
	<!--url="dubbo://192.168.28.98:9327/testdubbo.service.IMessageService"-->
	<!-- 配置Dubbo监控程序的监控地址 -->
	<dubbo:monitor address="${dubbo.monitor.address}"/>
</beans>
